* {
    font-family: sans-serif;
}
.header-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-text div{
    margin: 10px;
}
img {
    width: 250px;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 9%;
    margin-top: 5%;
}
.imagegroup2 {
    margin-top: 4%;
}
span {
    writing-mode: vertical-lr;
}
.divMedBilde {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
footer {
    display: flex;
    font-size: 75%;
    font-weight: lighter;
    justify-content: center;
    margin-top: 100px;
}
@media (max-width: 750px) {
    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1186px){
    .imagegroup2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}